*{
  font-family: 'PT Serif', serif;
}
body {
  margin: 0;
  height: 100%;
}
.maincontent{
      display: flex;
			flex-direction: column;
			min-height: 120vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.buton {
  background: #fff;
  color: #383b3a;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px #ccc;
  transition: transform 100ms;
}

.buton:hover {
  transform: translateY(1px);
  box-shadow: 0 2px #ccc;
}

.buton:active {
  transform: translateY(3px);
  box-shadow: 0 0 1px #ccc;
}
